/*colors*/
/*basing setting*/
html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  padding: 1rem 3rem;
  text-transform: uppercase;
  bottom: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d99a03;
}
/*tipography*/
section {
  padding: 10rem 0;
}
/*main*/
main {
  padding: 2rem 0;
  background: #ffffff url(img/k.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 4rem;
}
.hub {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 4rem;
}
.subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
span {
  display: inline-block;
  padding: 3rem 5rem ;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
strong {
  font-size: 1.9rem;
  font-weight: 700;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline;
  color: #1a1820;
  font-weight: 700;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
.triger {
  display: block;
  font-size: 2.2rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
/*form*/
.h-form {
  text-align: center;
}
.b-b {
  display: block;
}
.main-form {
  background-color: #ffffff;
}
form {
  padding: 4rem 5rem;
  text-align: center;
}
.h-form {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  margin: 1.5rem auto;
}
/*підписи на полях*/
.lab {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-b {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
small {
  display: block;
  margin-top: 1.5rem;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.phone-block {
  text-align: right;
}
/*блок з перевагами*/
.section-header {
  margin: 2rem 0;
  text-align: center;
  font-size: 3,6rem;
  font-weight: 700;
}
.features-block {
  text-align: center;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .main-title {
    text-align: center;
  }
  .main-form {
    padding-bottom: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .header {
    text-align: center;
    height: auto;
  }
  .phone-block {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
}
